#accepted{
  color: green;
  background-color: white;
}

#accepted_mri {
  position: relative;
  top: -470px;
  color: green;
  background-color: white;
}

#rejected{
  color: red;
  background-color: white;
}

#rejected_mri{
  position: relative;
  top: -470px;
  color: red;
  background-color: white;
}

#null{
  visibility:hidden;
  color: red;
  background-color: white;
}

#skip{
  text-align: center;
  margin: 0px;
  top: 0px;
  bottom: 0px;
}

#container {
 position: absolute;
 top: 8px;
 right: 50px;
 font-size: 18px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

#container_mri {
  position:absolute;
  top: 200px;
  right: 150px;
  font-size: 18px;
   margin: 20px;
   width: 200px;
   height: 200px;
}


#keys {
 position: absolute;
 top: 30px;
 left: 50px;
 width:350px;
  margin: 20px;

}


mark{
  background-color: white;
  color: black;
}
